* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("../shared/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: 'Cormorant Garamond', sans-serif;
    src: url("../shared/fonts/CormorantGaramond-Regular.ttf");
}