* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Montserrat;
    src: url("../shared/fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: Cormorant Garamond;
    src: url("../shared/fonts/CormorantGaramond-Regular.ttf");
}